.content-section {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}
.content-section img {
  height: auto;
  max-width: 250px;
  margin-right: 20px;
}
.text-content {
  max-width: 700px;
}
.index-title { 
  font-size: 18px; 
  margin-top: 25px; 
  margin-bottom: 0.5px;
  letter-spacing: 0.5px;
  text-shadow: 0.6px 0.6px 0 #000; 
}
.index-text-indent { 
  font-size:18px;
  text-indent:2em;
  text-align:left; 
  margin-bottom:5px;
}
.h3-img {
  margin-left: 3px; 
  margin-right: 5px; 
  vertical-align: bottom; 
}
.black-link {
  color: black; 
  text-decoration: none; 
}
.image-centered {
  display: flex; 
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.image-centered img {
  margin-right: 6px;
}
.circular-image {
  margin: 0px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 50%;
  outline: 4px solid #ccc;
}
.circular-image img {
  width: 100%;
  height: auto;
}
.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  width: 80%;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close {
  top: -8px;
  right: 5px;
  color: #aaa;
  padding: 2px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  transition: color 0.3s;
}
.close:hover {
  color: #333;
}
.modal-content img {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}
li {
  margin: 1px 0;
  display: flex; 
  align-items: center;
}
li::before {
  content: "";
  width: 13px; 
  height: 13px; 
  margin-right: 8px;
  display: inline-block;
  background-size: cover; 
  background-image: url('../files/images/logo/li.webp');
}
